# Put this file in your HOME and change the path below to your own user name
provider_installation {
  dev_overrides {
    "registry.terraform.io/novisto/bitwarden" = "/home/USER/.terraform.d/plugins/registry.terraform.io/novisto/bitwarden/0.1.0/linux_amd64"
  }

  direct {}
}
